{% extends 'main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title  %}
    مشتریان
{% endblock title %}

{% block page_title %} 

گزارش مربوی به مشتری {{customer.name}} - {{customer.last_name}}

{% endblock page_title %}

{% block breadcrumb %} 
<div class="page-title-right">
    <ol class="breadcrumb m-0">
        <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
        <li class="breadcrumb-item"><a href="{% url 'customer-list' %}">لیست مشتریان</a></li>
        <li class="breadcrumb-item active">
            {% if customer %}
            گزارش مشتری {{customer.name}} - {{customer.last_name}}
            {% else %}
            ثبت مشتری جدید
            {% endif %}
        </li>
    </ol>
</div>
{% endblock breadcrumb %}


{% block content %}
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>

<div id="add-event" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">ثبت واقعه جدید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="" class="font-size-17">جزییات واقعه</label>
                        <input type="text" name="title" class="form-control form-control-lg" placeholder="گرفتن پول از">
                    </div>
                    <div class="form-group">
                        <label for="" class="font-size-17">تاریخ ختم رویداد</label>
                        <input type="datetime-local" name="date" class="form-control form-control-lg" placeholder="گرفتن پول از">
                    </div>
                    <button class="btn btn-primary btn-md mt-2" type="submit">ایجاد رویداد</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div id="add-finance-detail" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title mt-0" id="myModalLabel">ثبت معامله جدید</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'add-finance-detail' customer.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="" class="">مقدار به حروف</label>
                        <input type="text" class="form-control form-control-lg" name="alphabet">
                    </div>
                    <div class="form-group mt-2">
                        <label for="" class="">مقدار پول</label>
                        <input type="number" class="form-control form-control-lg" name="amount">
                    </div>

                    <button class="btn btn-primary btn-md mt-2">ذخیره کردن</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<div class="row">
    <div class="col-xl-10 m-auto">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h3 class="mb-4 text-muted" style="font-weight: bold;">
                            {% if customer %}
                                    گزارش مشتری {{customer.name}} - {{customer.last_name}}                                
                            {% else %}
                                ثبت مشتری جدید
                            {% endif %}
                        </h3>
                        <p> <b>شماره تماس</b> : {{customer.phone_number}} </p>
                    </div>
                    <div class="col-lg-6">
                        <a href="{% url 'customer-list' %}" class="btn btn-dark btn-lg mb-4 float-right ">
                            برگشت
                            <i class='bx bx-arrow-back font-size-22 align-middle' ></i>
                        </a>
                        <a 
                        data-target="#add-event"
                        data-toggle="modal" 
                        class="btn btn-light btn-lg mb-4 float-right mr-2">
                            ثبت رویداد جدید
                            <i class="bx bx-calendar-plus font-size-22 align-middle "></i>
                        </a>
                        <a 
                        data-target="#add-finance-detail"
                        data-toggle="modal"
                        href="" class="btn btn-secondary btn-lg mb-4 float-right mr-2">
                            دریافتی جدید
                            <i class="bx bx-plus font-size-22 align-middle"></i>
                        </a>
                        <a href="" class="btn btn-primary btn-lg mb-4 float-right mr-2">
                            دانلود گزارشات
                            <i class="bx bx-download font-size-22 align-middle"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-10 m-auto">
    <div class="row">
        <div class="col-sm-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs mr-3">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                <i class="bx bx-plus"></i>
                            </span>
                        </div>
                        <h3 class="font-size-18 mb-0">تعداد فرمایشات</h3>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>{{count|floatformat:"2"}} <i class="mdi mdi-chevron-up ml-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span class="ml-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs mr-3">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                <i class="bx bx-money"></i>
                            </span>
                        </div>
                        <h3 class="font-size-18 mb-0">مجموع مقدار پول</h3>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>{{total|floatformat:"2"}} <i class="mdi mdi-chevron-up ml-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span class="ml-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs mr-3">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                <i class="bx bx-check-square"></i>
                            </span>
                        </div>
                        <h3 class="font-size-18 mb-0">مقدار اخذ شده</h3>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>{{paid|floatformat:"2"}} <i class="mdi mdi-chevron-up ml-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span class="ml-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card shadow-lg">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="avatar-xs mr-3">
                            <span class="avatar-title rounded-circle bg-soft-primary text-primary font-size-18">
                                <i class="bx bx-time"></i>
                            </span>
                        </div>
                        <h3 class="font-size-18 mb-0">مقدار باقی مانده</h3>
                    </div>
                    <div class="text-muted mt-4">
                        <h4>{{remain|floatformat:"2"}} <i class="mdi mdi-chevron-up ml-1 text-success"></i></h4>
                        <div class="d-flex">
                            <span class="badge badge-soft-success font-size-12"> + 0.2% </span> <span class="ml-2 text-truncate">From previous period</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="col-lg-10 m-auto">
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="my-2">رویدادهای جدید</h3>
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>عنوان</th>
                                <th>تاریخ ایجاد</th>
                                <th>تاریخ ختم</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{event.title}}</td>
                                    <td dir="rtl">{{event.created|timesince}} پیش</td>
                                    <td>
                                        {% if event.event_finish_at|date:"l" == "Tuesday" %}
                                            سه شنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Wednesday" %}
                                        چهار شنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Thursday" %}
                                        پنج شنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Friday" %}
                                        جمعه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Saturday" %}
                                        شنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Sunday" %}
                                        یکشنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        
                                        {% elif event.event_finish_at|date:"l" == "Monday" %}
                                        دوشنبه  &nbsp; {{event.event_finish_at|date:"d"}} &nbsp; تاریخ
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'update-event' event.pk %}" class="btn btn-outline-primary btn-sm">
                                            <i class="bx bx-edit font-size-18 align-middle"></i>
                                        </a>
                                        <a href="{% url 'event-delete' event.pk %}" class="btn btn-outline-danger btn-sm">
                                            <i class="bx bx-trash font-size-18 align-middle"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <p class="alert alert-info text-center font-size-17">
                                    هیچ رویداد تا هنوز ثبت نشده!
                                </p>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <h3 class="my-2">دریافتی ها</h3>
                    <table class="table table-sm table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>نوع معامله</th>
                                <th>مقدار پرداختی</th>
                                <th>مقدار باقی مانده</th>
                                <th>تاریخ پرداخت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for detail in details %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{detail.title}}</td>
                                <td>{{detail.pay_amount|floatformat:"2"}}</td>
                                <td>{{detail.remain|floatformat:"2"}}</td>
                                <td dir="ltr">{{detail.date}}</td>
                                <td>
                                    <a href="#" class="btn btn-outline-primary btn-sm">
                                        <i class="bx bx-edit font-size-18 align-middle"></i>
                                    </a>
                                    <a href="#" class="btn btn-outline-danger btn-sm">
                                        <i class="bx bx-trash font-size-18 align-middle"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <p class="alert alert-info text-center font-size-18">
                                هیچ معامله جدید ثبت نشده است.
                            </p>
                        {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#tarikh').persianDatepicker({
            altField: '#tarikhAlt',
            altFormat: 'X',
            format: 'YYYY-MM-DD',
            observer: true,
        });
    });
</script>
{% endblock content %}